.brand-offer {
  padding: 60px 80px !important;
  h3 {
    margin-bottom: 51px;
    font-weight: 400;
    text-align: center;
  }

  img {
    margin-bottom: 16px;
  }
  
  h4{
    font-weight: 400;
  }

  p{
    font-size: 18px;
    color: $dark-primary;
  }

  .col{
    padding: 0px 30px;
    margin: 0px 29px;
  }
}
