.news-letter {
    padding: 52px 95px 65px 95px;
    background-color: $light-gray;
    text-align: center;

    &-content{
        padding: 68px 350px !important;
        background-color: $white;

        h2 {
            font-size: 36px;
            font-weight: 400;
            color: $dark-primary;
            margin-bottom: 16px;
        }

        p {
            font-size: 400;
            font-size: 16px !important;
            margin-bottom: 72px;
        }
    }
}