.new-products {
  padding: 80px 0px !important;
  padding-top: 47px !important;
  justify-content: center !important;


  h4 {
    font-weight: 400;
    color: $dark-primary;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    color: $dark-primary;
  }

  button {
    margin-top: 50px;
  }
  .newActiveProduct {
    transition: transform 0.3s ease-in-out;
    position: relative;

    h4 {
      margin-top: 20px;
    }

    &:hover {
      transform: scale(1.1);
    }
    &:hover img {
      cursor: pointer;
      filter: brightness(50%);
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover {
      transform: scale(1.1);
    }

    &::after {
      content: "See Details";
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
