html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  
}

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}
