.cart {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  min-height: 808px;
  background-color: $light-gray;

  h1 {
    margin: 50px 0px;
    color: $dark-primary;
    font-weight: 400;
  }

  .check-out {
    display: flex;
    flex-direction: column;
    align-items: end;

    margin-bottom: 80px;
    p {
      font-size: 15px;
      color: $primary !important;
    }

    h3 {
      color: $dark-primary;
      font-weight: 400;
      span {
        margin-right: 14px;
        font-family: "Clash Display", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        color: $primary !important;
        cursor: text;
      }
    }
  }
}
