main {
  min-height: 704px;
  padding: 60px 80px;


  .header-banner {
    min-height: 584px;

    .header-details {
      padding: 60px;
      color: $white;
      background-color: $dark-primary;
      padding-right: 450px;

      h1 {
        margin-bottom: 41px;
        font-weight: 400;
        color: $white !important;
      }

      p {
        margin-top: 196px;
        font-size: 18px;
      }
    }

    .header-img {
      background-image: url("../images/banner-img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
.new-products-title{
    h2 {
        margin-bottom: 40px;
        padding-top: 80px;
        text-align: center !important;
        font-weight: 400 !important;
        color: $dark-primary;
      }

}
