.profile-details {
  min-height: 911px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-info {
    padding: 60px 25px 63px 25px !important;
    background-color: $light-gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    img {
      width: 142px;
      height: 142px;
      align-self: center;
    }

    h4 {
      align-self: center;
      margin-top: 15px;
      margin-bottom: 30px;
    }

    button {
      margin-top: 20px !important;
    }
  }

  &-history {
    padding-left: 44px !important;

    h2 {
      margin-top: 35px ;
      font-size: 25px;
    }
    table {
      max-height: 500px;
      overflow: auto;
      display: block;
      
      th {
        position: sticky;
        top: 0;
        background-color: #fff;
      }
    }
  }
}
