.admin-products {
  padding: 20px;
  margin: 30px 30px;

  &:first-child {
    margin-top: 0px;
  }

  .admin-product-details {
    padding: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .admin-product-action {
    padding: 0px 30px;
  }
}

.create {
  padding: 20px;

  h3 {
    margin-bottom: 20px;
  }

  button {
    margin-top: 30px;
  }
}

$placeholder: (
  "::-webkit-input-placeholder",
  ":-moz-placeholder",
  "::-moz-placeholder",
  ":-ms-input-placeholder",
  "::input-placeholder",
  "::placeholder"
);
@each $selector in $placeholder {
  #{$selector} {
    font-family: "Satoshi", sans-serif;
    font-size: 14px;
    line-height: 150%;
    padding: 5px;
  }
}

.modal-title {
  h2 {
    font-weight: 400;
  }
}
