.main-menu {
  padding: 50px 10px;
  background: #fff;
  position: relative;

  ul {
    list-style-type: none;
    padding-left: 15px;
  }

  a {
    text-decoration: none;
  }

  span {
    margin-right: 10px;
  }

  p {
    padding: 15px;
    font-family: "Clash Display", sans-serif;
    font-size: 20px;
    line-height: 150%;
    color: $dark-primary;

    &:hover {
      background-color: $dark-primary;
      color: $white;

      span {
        color: $white !important;
      }
    }
  }

  .nav-text {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }

  .nav-text-active {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    background-color: $dark-primary;
    color: $white;
    span {
      color: $white !important;
    }
  }
}
