footer {
  padding: 58px 83px;
  border-top: 10px solid $primary;
  background-color: $dark-primary;
  color: $white;

  .container-fluid {
    display: flex;
    justify-content: space-between;

    .social-icons {
      img {
        cursor: pointer;
        margin: 0px 12px;

        &:last-child {
          margin-right: 0px;
        }


        
      }
    }
  }
}
