nav {
  background-color: $white;

  .navbar-brand {
    margin: 0px !important;
    padding: 0px !important;

    h3 {
      margin: 0px !important;
    }
  }
}

.navbar-nav {
  a {
    padding: 0px !important;
    color: $dark-primary !important;

    &:hover {
      color: $primary !important;
    }

    &:not(:first-child) {
      margin-left: 44px;
    }
  }

  span {
    &:first-child {
      margin-right: 16px;
    }
  }

  .dropdown {
    button {
      padding: 0px !important;
      margin-top: 5px !important;
      background-color: $white !important;
      border: 0px !important;
      
      span {
        margin: 0px !important;
      }
    }
    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      left: auto;
      right: 0;
      padding: 0px !important;

      
      a, .profile-name-nav {
        margin: 0px !important;
        padding: 10px !important;
        font-family: "Satoshi", sans-serif;
        font-family: 16px;
        line-height: 150%;
        color: $dark-primary !important;
        
        &:hover {
          color: $white !important;
          background-color: $primary !important;
        }
      }

      hr {
        margin: 0px !important;
      }
    }
  }
}

span {
  cursor: pointer;
  padding: 0px 0px !important;
  color: $dark-primary !important;

  &:hover {
    color: $primary !important;
  }
}
