table {
  th {
    padding-left: 0px;
    font-family: "Clash Display", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: $dark-primary;

    &:last-child{
        text-align: end;
    }
  }

  tbody {
    td {
      padding: 30px 8px !important;

      
      .order-details {
        margin-left: 25px;

        h4 {
          font-weight: 400;
          color: $dark-primary !important;
        }

        p {
          font-size: 15px;
          color: $dark-primary !important;
        }

        .order-price {
          font-size: 16px;
          font-weight: 500;
          color: $dark-primary !important;
        }
      }

      .order-subtotal {
        text-align: end;
        font-size: 18px;
        font-weight: 500;
        color: $dark-primary !important;
      }

      .order-quantity {
        font-size: 16px;
        font-weight: 500;
        color: $dark-primary !important;
      }
    }
  }
}
